#.DS_Store
#node_modules
#/dist
#
## local env files
#.env.local
#.env.*.local
#
## Log files
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
#
## Editor directories and files
#.idea
#.vscode
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?
#


# OSX
#
.DS_Store
*.swp

# node.js
#
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.nuxt

# build
# 
release/
build/
dist/

# BUCK
#
buck-out/
\.buckd/
*.keystore

#.vscode
#
.sonarlint

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

